---
    const response = await fetch('http://api.made7-g6.webe.radio/api/voci-del-menu?populate=*')
    const data = await response.json();

    /*
        1) primi
        2) secondi
        3) Specialità
        4) contorni
        5) vegetariano
        6) dolci
        7) bevande
        
    */

    const responsePrimi = await fetch('http://api.made7-g6.webe.radio/api/primis?populate=*')
    const dataPrimi = await responsePrimi.json();
    /*console.log(dataPrimi.data[0].attributes.nome)
    console.log(dataPrimi.data[0].attributes.descrizione)
    console.log(dataPrimi.data[0].attributes.prezzo)
    console.log("http://api.made7-g6.webe.radio"+dataPrimi.data[0].attributes.immagini.data.attributes.url)*/

    const responseSecondi = await fetch('http://api.made7-g6.webe.radio/api/secondis?populate=*')
    const dataSecondi = await responseSecondi.json();
    /*console.log(dataSecondi.data[0].attributes.nome)
    console.log(dataSecondi.data[0].attributes.descrizione)
    console.log(dataSecondi.data[0].attributes.prezzo)
    console.log("http://api.made7-g6.webe.radio"+dataSecondi.data[0].attributes.immagini.data.attributes.url)*/
    
    const responseSpecialita = await fetch('http://api.made7-g6.webe.radio/api/specialitas?populate=*')
    const dataSpecialita = await responseSpecialita.json();

    const responseContorni = await fetch('http://api.made7-g6.webe.radio/api/contornis?populate=*')
    const dataContorni = await responseContorni.json();
    /*console.log(dataContorni.data[0].attributes.nome)
    console.log(dataContorni.data[0].attributes.descrizione)
    console.log(dataContorni.data[0].attributes.prezzo)
    console.log("http://api.made7-g6.webe.radio"+dataContorni.data[0].attributes.immagini.data.attributes.url)*/
    
    const responseVegetariano = await fetch('http://api.made7-g6.webe.radio/api/vegetarianos?populate=*')
    const dataVegetariano = await responseVegetariano.json();
    
    const responseDolci = await fetch('http://api.made7-g6.webe.radio/api/dolcis?populate=*')
    const dataDolci = await responseDolci.json();

    const responseBevanda = await fetch('http://api.made7-g6.webe.radio/api/bevandes?populate=*')
    const dataBevanda = await responseBevanda.json();

    //console.log(dataPrimi.data[0].attributes.)
    //console.log("http://api.made7-g6.webe.radio"+data.data[0].attributes.cover.data.attributes.url)
---
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icona.png">
    <title>Menù</title>
</head>
<body>

    <header>
        <h1>Menù</h1>
    </header>

    <main>
        <article>
            <h1>Primi</h1>
            <div>
                { 
                    await dataPrimi.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Secondi</h1>
            <div>
                { 
                    await dataSecondi.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Specialità</h1>
            <div>
                { 
                    await dataSpecialita.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Contorni</h1>
            <div>
                { 
                    await dataContorni.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Vegetariano</h1>
            <div>
                { 
                    await dataVegetariano.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Dolci</h1>
            <div>
                { 
                    await dataDolci.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )}
            </div>
        </article>
        <article>
            <h1>Bevande</h1>
            <div>
                { 
                    await dataBevanda.data.map(all=>
                        <h5>{all.attributes.nome}</h5>
                        <h6>{all.attributes.descrizione}</h6>
                        <h6>{all.attributes.prezzo+" €"}</h6>
                        <img src={"http://api.made7-g6.webe.radio"+ all.attributes.immagini.data.attributes.url}>
                        <hr>
                
                    )
                }
            </div>
        </article>
    </main>
    <footer>
        <a href="https://www.instagram.com/dalbarbalocandapastificio/" target="_blank"></a>
        <a href="https://www.facebook.com/DalBarbaLocandaPastificio" target="_blank"></a>
        <a href="https://www.google.com/maps/place/Locanda+Dal+Barba,+Via+Antonio+Pesenti,+1,+38060+Villa+Lagarina+TN/@45.917778,11.0302746,16z/data=!4m2!3m1!1s0x47820c3eb1a17281:0xd83a882a7d66cca0" target="_blank"></a>
    </footer>
</body>

<style>
    article div:nth-child(odd){
        display: flex;
        justify-content: center;
    }
    footer{
        background-color: #d8042be8;
        box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.274);
        height: 150px;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    footer a{
        width: 15px;
        height: 15px;
        padding: 10px;
    }
    footer a:nth-child(1){
        background-image: url('/instagram.svg');
    }
    footer a:nth-child(2) {
        background-image: url('/facebook.svg');
    }
    footer a:nth-child(3) {
        background-image: url('/location.svg');
    }
    body{
        overflow-x: hidden;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
        background-color: #EDF2F4;
        text-shadow: 0px 2px 10px white, 0px 0px 3px black;
        color: #EDF2F4;
        margin: 0;
        height: 100vh;
    }
    article{
        width: 100vw;
    }
    article img{
        width: 100%;
    }
    header{
        background: url('/header2.png');
        background-position: center;
        background-repeat: no-repeat;
        height:75px;
        width: 100vw;
        background-size: cover;
        padding-top: 10px;
    }
    header h1{
        font-size: 2rem;
        text-align: center;
    }
    h5{
        color: #2B2D42;
        text-align: center;
    }
</style>